<%- include('templates/head', { titulo: 'SALVAPANTALLAS INGENIUM' }) %> 

<%- include('templates/navbar') %> 

<main>
    <div id="contenedor-carga">
        <div id="contenedor-carga__letras">
            <h1 id="carga-letras"></h1>
        </div>

        <div id="carga"></div>
    </div>

</main>

<script src="/js/cargaWebIndex.js"></script>

<%- include('templates/footer') %> 