#contenedor-carga{
    background-color: rgba(250, 240, 245, 0.9);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 10000;

    -webkit-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
}

#contenedor-carga__letras {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 35vh;
    color: #202e54;
}

#carga{
    border: 15px solid #ccc;
    border-top-color: #202e54;
    border-radius: 100%;
    width: 100px;
    height: 100px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    -webkit-animation: girar 5s liner infinite;
    -o-animation: girar 5s liner infinite;
    animation: girar 5s linear infinite;
}

@keyframes girar {
    from{ transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}