<nav class="navbar navbar-expand-lg navbar-dark text-white sticky-top" id="navbar">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">
            <img src="/img/logo.png" alt="No se ve icono" class="logoNavbar">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navegador" aria-controls="navegador" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navegador">
            <div class="navbar-nav me-auto">
                <a href="/"  id="inicio">INICIO</a>
                <a href="/add" id="add">SUBIR SALVAPANTALLAS</a>
            </div>
        </div>

    </div>
</nav>